
body{
    font-family: 'Lato', sans-serif;
}
section{
    background: #FFFFFF;
    border-radius: 10px;
    padding: 5px 30px 30px 30px;
    margin: 145px 450px 200px 450px;
}
.registro{
    background: #FFFFFF;
    border-radius: 10px;
    padding: 5px 30px 30px 30px;
    margin: 150px 405px 200px 405px;
}
h1{
    font-family: 'Bree Serif', serif;
    font-weight: 300;
}
label{
    margin-right: 101px;
    margin-bottom: 8px
    ;
    font-size: small;
    font-weight:300;
}
.dni{
    margin-right: 142px;
}
.fc{
    margin-right: 242px;
}
.fc2{
  margin-right: 195px;
}
input{
    border-width: 1px;
    border-color: #8190A5;
    border-radius: 4px;
    margin: 8px;
    padding-top: 7px;
    padding-bottom: 7px;
}
input:focus{
  outline: 1.3px solid #aa81c9;
}
.botones{
    margin-top: 8px;
}
.button{
    font-size: small;
    text-decoration: none;
    background-color: #47525E;
    color: white;
    margin: 8px 2px;
    padding: 5px 13px 8px 13px;
    border-radius: 4px;
    transition-duration: 0.4s;
}
.button:hover {
    background-color: #606e7d;
    color: white;
  }
.button2{
    font-size: medium;
    text-decoration: none;
    background-color: #936DB0;
    color: white;
    padding: 7px 96px 10px 96px;
    border-radius: 4px;
    transition-duration: 0.4s;
}
.button2:hover {
    background-color: #aa81c9;
    color: white;
  }
.buttontop{
    font-size:large;
    text-decoration: none;
    background-color: #936DB0;
    color: white;
    margin-top: 600px;
    margin-right: 0px;
    margin-left: 1055px;
    padding: 10px 24px 13px 24px;
    border-radius: 4px;
    transition-duration: 0.4s;
}
.buttontop:hover {
    background-color: #aa81c9;
    color: white;
  }
.link{
    font-size: x-small;
    color: #8190A5;
    text-decoration: none;
}
.link:link{
    font-size: x-small;
    color: #8190A5;
    text-decoration: none;
}
.link:visited{
    font-size: x-small;
    color: #8190A5;
    text-decoration: none;
}
.link:hover{
    font-size: x-small;
    color: #8190A5;
    text-decoration: none;
}
.link:active{
    font-size: x-small;
    color: #8190A5;
    text-decoration: none;
}
.foto{
    font-size: small;
    text-decoration: none;
    background-color: #47525E;
    color: white;
    margin: 8px 2px;
    padding: 10px 41px 11px 41px;
    border-radius: 4px;
    transition-duration: 0.4s;
}
.foto:hover{
    background-color: #606e7d;
    color: white;
}
.none{
    display: none;
}
#clavecss{
    font-size: large;
    color: #47525E;
}
.header {
  position: relative;
  padding: 20px;
  text-align: left;
  background: #936DB0;

}
.headersecond{
  position: relative;
  padding-top: 20px;
  padding-left:  20px;
  text-align: left;
  background: #936DB0;
}

.header h1 {
  color:white;
  font-size: 30px;
  width: fit-content;
  margin: 0;
}

.logo{
  width: 135.7px;
  height: 106.6px;
  margin: 0;
  float: left;
}
.logosecond{
  width: 111.09px;
  height: 87.36px;
  margin: 0;
  float: left;
}
.homebtn{
  width: 135.7px;
  height: 106.6px;
  margin: 0;
  float: left;
}
.ingresar{
  color: white;
}
.ingresar:hover{
  color:white;
}
.container {
  position: relative;
  height: 100px;
}
.conjunto{
  position: inherit;
}
.molde{
width: 60px;
height: 60px;
}

.image {
  border-radius:50%;
}

.overlay {
  border-radius: 50%;
  position: absolute; 
  top:0;
  right:0;
  bottom:0;
  opacity: 0;
  transition: .5s ease;
  background-color: #aa81c9;
}

.overlay:hover  {
  opacity: 1;
}

.text {
  color: white;
  font-size: 8px;
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.name{
  color: white;
  font-size:small;
  margin-right: 6px;
}

body {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding:0;
  width: 25%;
  background-color: #E5E9F2;
  position: absolute;
  height: 100%;
  top: 140;
  left: 0;
  overflow-x: hidden;
  float: left;
}

li a {
  border-bottom: 1px solid #cfd8e8;
  display: block;
  color: #47525E;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #aa81c9;
  color: white;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #47525E;
  color: white;
  text-decoration: none;
}

li.dropdown {
  width: 100%;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: #E5E9F2;
  min-width:100%;
  z-index: 1;
}
.dropdown-content a {
  color: #47525E;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.column {
  float: left;
  width: 40%;
  padding-right: 5%;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-right: 10%;
  position: relative;
}

.row {
  padding-left: 27%;
  color: #47525E;
  padding-bottom: 4%;
}

.row h1 {
  font-size: 50px;
  margin-top: 1%;
  margin-bottom: 5%;
}

.columnSecond {
  position: relative;
  padding-top: 100px;
  padding-left: 40px;
}

#profilePic {
  border-radius: 50%;
  height: 200px;
  padding-top: 25px;
  padding-left: 27%;
}

.centrar{
  margin-top:13%;
  width:45%;
}
.t1{
  color: black;
}
.t2{
  color: black;
}
.card{
  padding: 2px;
  margin-right: 0px;
  margin-left: 80px;
  margin-top: 20px;
  margin-bottom: 10px;

}