
body{
    font-family: 'Lato', sans-serif;
}
section{
    background: #FFFFFF;
    border-radius: 10px;
    padding: 5px 30px 30px 30px;
    margin: 145px 450px 200px 450px;
}
.registro{
    background: #FFFFFF;
    border-radius: 10px;
    padding: 5px 30px 30px 30px;
    margin: 150px 405px 200px 405px;
}
h1{
    font-family: 'Bree Serif', serif;
    font-weight: 300;
}
label{
    margin-right: 101px;
    margin-bottom: 8px
    ;
    font-size: small;
    font-weight:300;
}
.dni{
    margin-right: 142px;
}
.fc{
    margin-right: 242px;
}
input{
    border-width: 1px;
    border-color: #8190A5;
    border-radius: 4px;
    margin: 8px;
    padding-top: 7px;
    padding-bottom: 7px;
}
input:focus{
  outline: 1.3px solid #aa81c9;
}
.botones{
    margin-top: 8px;
}
.button{
    font-size: small;
    text-decoration: none;
    background-color: #47525E;
    color: white;
    margin: 8px 2px;
    padding: 5px 13px 8px 13px;
    border-radius: 4px;
    transition-duration: 0.4s;
}
.button:hover {
    background-color: #606e7d;
    color: white;
  }
.button2{
    font-size: medium;
    text-decoration: none;
    background-color: #936DB0;
    color: white;
    padding: 7px 96px 10px 96px;
    border-radius: 4px;
    transition-duration: 0.4s;
}
.button2:hover {
    background-color: #aa81c9;
    color: white;
  }
.buttontop{
    font-size:large;
    text-decoration: none;
    background-color: #936DB0;
    color: white;
    margin-top: 600px;
    margin-right: 0px;
    margin-left: 1055px;
    padding: 10px 24px 13px 24px;
    border-radius: 4px;
    transition-duration: 0.4s;
}
.buttontop:hover {
    background-color: #aa81c9;
    color: white;
  }
.link{
    font-size: x-small;
    color: #8190A5;
    text-decoration: none;
}
.link:link{
    font-size: x-small;
    color: #8190A5;
    text-decoration: none;
}
.link:visited{
    font-size: x-small;
    color: #8190A5;
    text-decoration: none;
}
.link:hover{
    font-size: x-small;
    color: #8190A5;
    text-decoration: none;
}
.link:active{
    font-size: x-small;
    color: #8190A5;
    text-decoration: none;
}
.foto{
    font-size: small;
    text-decoration: none;
    background-color: #47525E;
    color: white;
    margin: 8px 2px;
    padding: 10px 41px 11px 41px;
    border-radius: 4px;
    transition-duration: 0.4s;
}
.foto:hover{
    background-color: #606e7d;
    color: white;
}
.none{
    display: none;
}
#clavecss{
    font-size: large;
}

.header {
  padding: 20px;
  text-align: left;
  background: #936DB0;
}

.header h1 {
  color:white;
  font-size: 30px;
  width: fit-content;
  margin: 0;
}
.container {
  position: relative;
  height:100px;
}
.conjunto{
  position: inherit;
  top: -40;
  bottom: 40px;
}
.molde{
width: 60px;
height: 60px;
}

.image {
  border-radius:50%;
}

.overlay {
  border-radius: 50%;
  position: absolute; 
  top:0;
  right:0;
  bottom:0;
  opacity: 0;
  transition: .5s ease;
  background-color: #aa81c9;
}

.overlay:hover  {
  opacity: 1;
}

.text {
  color: white;
  font-size: 8px;
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.name{
  color: white;
  font-size:small;
  margin-right: 6px;
}

body {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #E5E9F2;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: #47525E;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #aa81c9;
  color: white;
}

li a:hover:not(.active) {
  background-color: #47525E;
  color: white;
}
.centrar{
  margin-top:13%;
  width:45%;
}