<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CalificAR</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lato:wght@100;300;400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/estilos.css">
        <link rel="icon" href=""> 
    </head>

    <body>
        <section class="container__nota">
        <p th:if="${error != null}" th:text="${error}" style="color:red"></p>
            <form class="form__nota" id="id__form" th:action="@{/notas/agregarNotas}" method="POST">
                <input type="hidden" name="idMateria" th:value="${materia}">
                <select name="mail">
                    <option th:each="alumno : ${alumnos}" th:value="${alumno.mail}" th:text="${alumno.nombre +' '+ alumno.apellido}">
                    </option>
                </select>
                <input name="nota" type="number" placeholder="Nota">
            </form>
            <button form="id__form" type="submit" class="button__form__nota">Cargar Notas</button>
        </section>
    </body>

</html>
