<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form action="/crearAsistencia">
            <select class="form-control" name="alumnos"> 
                 <option th:each="alumnos : ${alumnos}" th:value="${alumnos.dni}" th:text="${alumnos.nombre + ' ' + alumnos.apellido}"></option>
            </select>
            
            <select class="form-control" name="materias"> 
                 <option th:each="materias : ${materias}" th:value="${materias.idMateria}" th:text="${materias.nombre}"></option>
            </select>
            
        </form>
    </body>
</html>
