<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CalificAR - Recuperar Contraseña</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lato:wght@100;300;400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/estilos.css">
        <link rel="icon" href="/img/favicon.ico">
    </head>
    <body bgcolor="#E5E9F2">
        <section class="registro" style="filter:alpha(opacity=50); opacity:0.8;">
            <h2 align="center" style="color: #47525E;">Contraseña Enviada</h2>

                <br><br>
                <p>Por favor ingrese a su email para obtener su nueva contraseña</p>
                <p>Si no encuentra el email. Busque en <b>Bandeja de Entrada</b> o en <b>Correo no Deseado</b></p>
                <br><br>
            <p align="right">
            <a class="button2" href="/inicio" role="button" type="submit">Volver</a>
            </p>
        </section>

    </body>
</html>