<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>CalificAR</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lato:wght@100;300;400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/estilos.css">
        <link rel="icon" href="/img/favicon.ico">
    </head>
    <body bgcolor="#E5E9F2"> 
        <div class="headersecond">
            <div class="container">
              <img class="logosecond" src="/img/Logo.png">
              <div align="right">
                <a href="/login" class="button__ingresar">Ingresar</a>   
              </div>
            </div>
          </div>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" style="height: 100vh">
                <img class="d-block w-100" src="/img/slide1 (2).jpg" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="t1">CalificAR</h5>
                    <p class="t2">Plataforma escolar</p>
                  </div>
              </div>
              <div class="carousel-item" style="height: 100vh">
                <img class="d-block w-100" src="/img/slide1 (1).jpg" alt="Second slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="t1">Comodidad para alumnos y profesores</h5>
                    <p class="t2">Fácil acceso para la visualización y carga de notas</p>
                  </div>
              </div>
              <div class="carousel-item" style="height: 100vh">
                <img class="d-block w-100" src="/img/slide1 (3).jpg" alt="Third slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="t1">Inscripción a materias</h5>
                    <p class="t2">Todas tus clases en un solo lugar</p>
                  </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Siguiente</span>
            </a>
          </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>