<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CalificAR - Ingresar</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lato:wght@100;300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="icon" href="/img/favicon.ico">
</head>

<body bgcolor="#E5E9F2">
	<a class="buttontop" th:href="@{/certificado/validarCertificado}"
		role="button">Validar certificado</a>

	<section align="center" style="filter:alpha(opacity=50); opacity:0.8;">
		<img align="center" class="logo2" src="/img/Logo.png">

		<p align="center" style="color: #8190A5;">Iniciar sesión</p>

		<form action="logincheck" method="POST">
			<p th:if="${error != null}" th:text="${error}" style="color: red"></p>
			<b><p th:if="${logout != null}" th:text="${logout}" style="color: green"></p></b>

			<label class="dni" style="color: #8190A5;">DNI</label> <br> <input
				type="text" class="form-control" name="username" maxlength=8 /> <br>

			<label style="color: #8190A5;">Contraseña</label> <br> <input
				type="password" class="form-control" name="password" /> <br> <br />
			<button type="submit" class="button2">Ingresar</button>
		</form>


		<br> <a class="button" th:href="@{/alumno/registroAlumno}"
			role="button">Registro alumno</a> <a class="button"
			th:href="@{/codigo/validarProfesor}" role="button">Registro
			profesor</a> <br> <br> <br> <a class="link"
			href="/recuperarContraseña" role="link">¿Olvidaste tu contraseña?</a>
	</section>
</body>

</html>
