<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>CalificAR</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap"
		rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lato:wght@100;300;400;700&display=swap"
		rel="stylesheet">
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
		crossorigin="anonymous">
	<link rel="stylesheet" href="/css/estilos.css">
	<link rel="icon" href="/img/favicon.ico">
</head>
<body>
	<div class="header">
		<div class="container2">
			<a class="homebtn" href="/"> <img class="logo" src="/img/Logo.png"></a>
			<div class="conjunto" align="right">
				<img th:if="${session.profesorsession.foto != null}"
					th:src="${'/foto/profesor/' + session.profesorsession.id}" alt="Foto de perfil"
					class="molde image">
				<img th:if="${session.profesorsession.foto == null}"
					src="/img/default.png" alt="Foto de perfil" class="molde image">
				<a th:href="@{/perfil}" class="molde overlay">
					<div class="text">Mi perfil</div>
				</a>
				<p th:if="${session.profesorsession != null}" th:text="${session.profesorsession.nombre} + ' ' + ${session.profesorsession.apellido}"></p>
			</div>
		</div>
	</div>
	<ul>
		<li><a href="/inicio">Volver</a></li>
	</ul>
	<p th:if="${error != null}" th:text="${error}" style="color: red"></p>
	<section align="center" class="centrar">
		<p><FONT SIZE=5>
			<b>Materia:</b>
			<a th:text="${materia.nombre}"></a>
		</FONT></p>
		<form th:action="@{/notas/cargarNotas}" method="POST">
			<input type="hidden" name="nombreMateria" placeholder="Nombre de la materia" th:value="${materia.nombre}">
			<input type="hidden" name="idMateria" th:value="${materia.idMateria}">
			<br> <br>
			<button type="submit" class="button2">Cargar Notas</button>
		</form>
		<br>
		<br>
		<form class="form__nota" th:action="@{/notas/verNotas}" method="GET">
			<input type="hidden" name="idMateria" th:value="${materia.idMateria}">
			<select name="mail">
				<option th:each="alumno : ${alumnos}" th:value="${alumno.mail}" th:text="${alumno.nombre +' '+ alumno.apellido}">
                </option>
			</select>
			<button type="submit" class="button2">Ver Notas</button>
		</form>
	</section>
</body>

</html>
