<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>CalificAR - Registro Profesor</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap"
		rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lato:wght@100;300;400;700&display=swap"
		rel="stylesheet">
	<link rel="stylesheet" href="/css/estilos.css">
	<link rel="icon" href="/img/favicon.ico">
</head>
<body bgcolor="#E5E9F2" align="center">
	<section>
		<a class="logo2" href="/inicio">
			<img align="center" class="logo2" src="/img/Logo.png">
		</a>

		<h1 style="color: #47525E;">Registro Profesor</h1>
		<p th:if="${error != null}" th:text="${error}" style="color: red;"></p>
		<form th:action="@{/profesor/registrarProfesor}" method="POST" th:object="${profesor}" enctype="multipart/form-data">
			<!-- <p> Código de validación ingresado:
				<b><input type="hidden" readonly name="codigo" th:value="${codigo}"></b>
			</p>
			 -->
			<input type="hidden" name="codigo" th:value="${codigo}">
			<input type="text" name="nombre" placeholder="Nombre" th:field="*{nombre}">
			<input type="text" name="apellido" placeholder="Apellido" th:field="*{apellido}">
			<br>
			<input type="text" name="dni" placeholder="DNI" maxlength="8" th:value="${dni}">
			<input type="email" name="email" placeholder="Email" th:field="*{mail}">
			<br>
			<input type="password" name="clave" placeholder="Contraseña" th:value="${clave}">
			<input type="password" name="clave2" placeholder="Confirmar contraseña" th:value="${clave2}">
			<br>
			<p>Fecha de nacimiento
				<input type="date" name="fechanac" th:field="*{fechaNac}">
			</p>
			<input id="archivo" type="file" value="archivo" name="archivo">
			<br>
			<br>
			<button class="button2" type="submit">Crear Profesor</button>
		</form>
	</section>
</body>
</html>