<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CalificAR - Mi Perfil</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lato:wght@100;300;400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/estilos.css">
        <link rel="icon" href="/img/favicon.ico">
</head>
<body>
	<div class="header">
		<div class="container">
			<a class="homebtn" href="/index"> <img class="logo" src="/img/Logo.png">
			</a>
			<div class="conjunto" align="right">
				<img th:if="${session.alumnosession != null and session.alumnosession.foto != null}"
					th:src="${'/foto/alumno/' + session.alumnosession.id}" alt="Foto de perfil" class="molde image">
				<img th:if="${session.profesorsession != null and session.profesorsession.foto != null}"
					th:src="${'/foto/profesor/' + session.profesorsession.id}" alt="Foto de perfil" class="molde image">
				<img th:if="${(session.profesorsession == null or session.profesorsession.foto == null) and (session.alumnosession == null or session.alumnosession.foto == null)}"
					src="/img/default.png" alt="Foto de perfil" class="molde image">
				<a class="molde overlay">
					<div class="text">Mi perfil</div>
				</a>
				<p th:if="${session.alumnosession != null}" th:text="${session.alumnosession.nombre} + ' ' + ${session.alumnosession.apellido}"></p>
				<p th:if="${session.profesorsession != null}" th:text="${session.profesorsession.nombre} + ' ' + ${session.profesorsession.apellido}"></p>
			</div>
		</div>
	</div>
	<ul>
		<li><a href="/inicio">Inicio</a></li>
	</ul>

	<section align="center" class="centrar">
		<h1 th:text="${materia.nombre}" class="title__verNotaMateria"></h1>
		<tr th:each="alumno : ${alumnos}">
			<div>Nombre</div>
			<div>Apellido</div>
			<div>Ultima Nota</div>
			<div class="item__verNota" th:text="${nota.alumno.nombre}"></div>
			<div class="item__verNota" th:text="${nota.alumno.apellido}"></div>
			<div class="item__verNota" th:text="${nota.nota}"></div>
			<a style="text-indent:50px;" th:href="@{/notas/cargarNota(idMateria=__${materia.idMateria}__)}" th:text="${materia.nombre}"></a>
		</tr>
		
		
		<article class="container__verNota" th:each="nota : ${notas}">
			<div class="title__verNota">Nombre</div>
			<div class="title__verNota">Apellido</div>
			<div class="title__verNota">Ultima Nota</div>
			<div class="item__verNota" th:text="${nota.alumno.nombre}"></div>
			<div class="item__verNota" th:text="${nota.alumno.apellido}"></div>
			<div class="item__verNota" th:text="${nota.nota}"></div>
		</article>

		<article class="container__verNotaTotales">
			<div class="title__verNotaTotales">Notas Totales</div>
			<div class="item__verNotaTotales"
				th:each="notasTotales : ${notasTotales}" th:text="${notasTotales}"></div>
			<a class="boton__verNota"
				th:href="@{/notas/cargarNota(idMateria=__${materia.idMateria}__)}">
				<div th:each="materia : ${materia}">Volver</div>
			</a>
		</article>
	</section>

	<!--        <div class="title__verNotaTotales">Notas Totales</div>
        <div class="item__verNotaTotales" th:each="notasTotales : ${notasTotales}" th:text="${notasTotales}"></div>-->

</body>

</html>
